@model dynamic

<div class="alert alert-success text-center" role="alert">
    <h3>@Model.Message</h3>
</div>

<div class="row mt-5">
    <div class="col">
        @{
            if (Model.Replicas == 0)
            {
                <form asp-action="CreatePotion">
                    <div class="form-group w-50">
                        <label class="w-100" for="potionName"><h5>Name your potion</h5></label><br/>
                        <input class="w-100" id="potionName" type="text" name="name" value="@Model.Potion.Student.Name's discovery"/>
                    </div>
                    <input name="id" value="@Model.Potion.Id" hidden/>
                    <input class="btn btn-primary" type="submit" value="Create">
                </form>
            }
            else
            {
                <h4>This potion is created @Model.Replicas times</h4>
            }
        }
    </div>
    <div class="col">
        <h4>Your potion's ingredients: </h4>
        <div class="font-weight-bold">
            <ul>
                @foreach (var ingredient in Model.Potion.Ingredients)
                {
                    <li class="mt-2">@ingredient.Name</li>
                }
            </ul>
        </div>
    </div>
</div>