@model dynamic

<h1>Add Ingredient to a Potion</h1>

<div class="row mt-5">
    <div class="col">
        <form asp-action="AddIngredientToPotion">
            <div class="form-group w-50">
                <label for="students"><h5>Select the student</h5></label>
                <select class="form-control mb-3" id="students" name="studentId" onchange="showBrewingPotionForStudent()">
                    @foreach (var student in Model.Students)
                    {
                        <option value="@student.Id">@student.Name</option>
                    }
                </select>
                <label for="ingredients"><h5>Select the ingredient</h5></label>
                <select class="form-control" id="ingredients" name="ingredientId">
                    @foreach (var ing in Model.Ingredients)
                    {
                        <option value="@ing.Id">@ing.Name</option>
                    }
                </select>
            </div>
            <input class="btn btn-primary" type="submit" value="Add">
        </form>
    </div>
    <div class="col">
        <h4>Your potion: </h4>
        <div id="ingredients-container" class="font-weight-bold">
            @{
                if (Model.BrewingPotion is null)
                {
                    <p class="ml-4 pt-2">You don't have any brewing potion!</p>
                }
                else
                {
                    if (Model.BrewingPotion.Ingredients.Count == 0)
                    {
                        <p class="ml-4 pt-2">No ingredients yet!</p>
                    }
                    else
                    {
                        <ul>
                            @foreach (var ingredient in Model.BrewingPotion.Ingredients)
                            {
                                <li class="mt-2">@ingredient.Name</li>
                            }
                        </ul>
                    }
                }
            }
        </div>
    </div>
</div>

<script src="@Url.Content("~/js/addIngredient.js")"></script>